body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://www.istockphoto.com/photo/lpg-gass-propane-bottles-green-new-many-gm1322710375-408598359'); 
    background-size: auto; 
    background-repeat: no-repeat; 
    background-position: center;
    color: #a90606; 
}

h1 {
    text-align: center;
    color: #333;
    header {
        position: relative;
        padding: 20px;
    }
    
    nav {
        position: absolute;
        top: 20px; /* Adjust the top position as needed */
        right: 20px; /* Adjust the right position as needed */
    }
    
    nav ul {
        list-style: none;
        display: flex;
    }
    
    nav li {
        margin-right: 15px;
    }
    
    nav a {
        text-decoration: none;
        color: #fff;
    }
}

form {
    max-width: 200px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#cylinderSize,
#cylinderBrand {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #0c0c0d;
    border-radius: 8px;
    color: #0c0d0e;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

#brandImageContainer img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
}
